<h1>Message Show</h1>

<p><strong>Message:</strong> <%= @message.body %></p>
<p><strong>Author:</strong> <%= @message.author %></p>
<p><strong>Location:</strong> <%= @message.location %></p>

<a href="/messages">Messages Index</a>
